*{
    margin: 0%;
    padding: 10px;
}

body{
    background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0,0,0, 1)
    ),
    url('images/bg.jpg')
    ;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

#main-page{
   background-color: rgb(8, 8, 8);
}

.container h2{
    color: rgb(164, 164, 164);
}

