*{
    margin: 0%;
}

body{
    background-image: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0,0,0, 1)),
    url('images/bg.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    padding: 50px;
}

#main-page{
   background-color:rgb(9, 9, 9);  
   border-radius: 15px;
   padding: 40px;
}

.container h2{
    color: rgb(219, 219, 219);
    position: relative;
}

.container h5{
    color: rgb(136, 136, 136);
}

#profile-pic{
    float: left;
    width: 90px;
    height: 90px;
    margin-right: 25px;
}

#my-info{
    background-color:rgb(9, 9, 9); 
    margin-left: 20px;
}